@import './helpers/transitions.scss';
@import './admin/admin.scss';

html {
    font-size: 14px;
}

body {
	background-color: #F4F6F9;
}

tr:first-child > td > .fc-day-grid-event {
  margin-top: 2px;
  text-align: center;
  font-size: 25px;
  /* a little bit more space before the first event */ }