/*
* Destinations Frame
* dstntns-frm : destinations frame
*/
.dstntns-frm1 {
	position: relative;
	width: 100%;
	margin-top: 40px;
	background: $white;

	.dstntns-frm1__col {
		height: 100vh;
	}

	.dstntns-frm1__bgOverlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.2);
	}

	.dstntns-frm1__slider-item {
		position: relative;
		width: 100%;
		height: 100vh;
		border: none !important;
	}

	.dstntns-frm1__slider-item-info-holder {
		height: 100%;
	}

	.dstntns-frm1__slider-item-info {
		position: relative;
		z-index: 1;
		margin-bottom: 10vh;

		.frm-title,
		.frm-description * {
			transform: translateX(0px) translateY(0px) !important;
			text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.60);
		}

		.frm-description {
			width: 50%;
		}
	}

	.dstntns-frm1__col-inner-holder {
		position: relative;
		height: 100%;
	}

	.dstntns-frm1__search-holder {
		padding-top: 20vh;
	}

	.dstntns-frm1__search {
		button {
			position: absolute;
			padding: 0px 10px;
			top: 0px;
			right: 0px;
			bottom: 0px;
			margin: auto;
			border: none;
			background: transparent;
			cursor: pointer;
		}
		img {
			max-width: 18px;
		}
	}

	.dstntns-frm1__slider-thumbnail-holder {
		position: absolute;
		width: 135%;
		right: 0%;
		bottom: 5vh;
	}

	

	.dstntns-frm1__slider-thumbnail-item {
		position: relative;
		width: 28%;
		margin-right: 15px;
		margin-left: 15px;
		cursor: pointer;
		z-index: 2;

		&:hover,
		&.active {

			.frm-bckgrnd {
				&:before {
					height: 0%;
				}
			}
		}

		&.active {
			.frm-header {
				font-weight: bolder;
			}
		}

		.frm-header {
			margin-bottom: 0px !important;
			transition: all 300ms ease-in;
		}
	}

	.dstntns-frm1__slider-thumbnail-item-img {
		position: relative;
		width: 100%;
		height: 45vh;
		background: $white;
		box-shadow: 0 11px 7px -7px rgba(0, 0, 0, 0.5);
		transition: all 200ms ease-out;

		.frm-bckgrnd {

			&:before {
				position: absolute;
				content: " ";
				width: 100%;
				height: 100%;
				bottom: 0;
				left: 0;
				background: rgba(255, 255, 255, 0.45);
				transition: all 200ms ease-out;
			}
		}
	}

	.dstntns-frm1__slider,
	.dstntns-frm1__slider-thumbnail {
		margin-bottom: 0px;
	}

}

.dstntns-frm1__slider-thumbnail {

	.slick-next {
		top: 0px;
		bottom: 0px;
		right: -3%;
		margin: auto;
		opacity: 1;

		&::before {
			content: "";
			border-right: 5px solid $orange;
			border-top: 5px solid $orange;
			width: 18px;
			height: 18px;
			display: block;
			transform: rotate(45deg);
			border-radius: 5px;
		}

		img {
			display: none;
		}
	}

	.slick-prev {
		top: 0px;
		bottom: 0px;
		left: -3%;
		margin: auto;
		opacity: 1;

		&::before {
			content: "";
			border-right: 5px solid white;
			border-top: 5px solid white;
			width: 18px;
			height: 18px;
			display: block;
			transform: rotate(-135deg);
			border-radius: 5px;
		}

		img {
			display: none;
		}
	}
}

.dstntns-inf-frm1 {
	position: relative;
	width: 100%;
	margin-top: 40px;
	
	.gnrl-frm--sldr__item .frm-title {
		margin-bottom: 10px !important;
		text-shadow: none;
		max-width: 100%;
	}

	.dstntns-inf-frm1__container {
		padding: 5vh 0vh;
		background: rgba(0, 0, 0, 0.50);

		.dstntns-inf-frm1__location-img {
			max-width: 18px;
			margin-right: 5px;
			display: inline-block;
			vertical-align: text-bottom;
	   		filter: brightness(0) invert(1);
		}
	}	
}

.dstntns-inf-frm2 {
	position: relative;
	padding: 10vh 0vh;

	.dstntns-inf-frm2__btn-holder {
		height: 400px;
		padding-right: 10px;
		overflow-y: auto;
		border-right: 1px solid $light-gray;
	}

	.dstntns-inf-frm2__btn {
		font-family: $font-family-d-din-bold;
		font-size: 1.2em;
		margin-bottom: 20px;
		line-height: 1.5em;
		color: $light-gray;
		cursor: pointer;
		transition: all 300ms ease;

		&:hover {
			color: $gray;
		}

		&.active {
			color: $green
		}
	}

	.dstntns-inf-frm2__content-inner {
		position: relative;

		.frm-description {
			height: 100vh;
			padding-left: 5%;
			padding-right: 10px;
			padding-bottom: 5%;
			overflow-y: auto;

			figure.image {
				text-align: center;
			}

		  //   ul {
		  //   	font-size: 1em;
		  //	   width: 100%;
		  //	   padding-left: 15px;
		  //   } 

		  //   ol {
		  //   	font-size: 1em;
		  //	   width: 100%;
		  //	   padding-left: 15px;

		  //	   strong {
		  //	   	font-size: 1em;
		  //	   }
		  //   }

		  //   li {
		  //	   display: list-item;
		  //	   padding-bottom: 5px;
		  //	   list-style-position: inside;
		  //   }

		  //   p {
		  //   	a { font-size: 0.9em; }
				// p {	font-size: 1em; }
		  //   	strong {
			 //		font-family: $font-family-work-sans-bold;
			 //		font-size: 1em;

			 //		u {
				//	 	font-family: $font-family-work-sans-bold;
				//	 	font-size: 1em;
			 //		}
		  //   	}
		  //   }

		  //   a {
	   //  		color: $green;
	   //  		text-decoration: underline;
		  //   }

		  //   ul li {
		  //   	li { font-size: 1em; }
		  //   }

		  //   ul li {
		  //   	strong { font-size: 1em; }
		  //   }

		  //   b {
		  //   	font-family: $font-family-work-sans-bold;
		  //   	font-size: 1em;
		  //   }

			iframe {
				width: 100%;
				height: 60vh;
			}

		}
	}

}