/*
* Body
*/
body {
    overflow-x: hidden;
    margin: 0;

    &.ovrflw-hddn {
    	width: 100%;
    	height: 100vh;
    	overflow: hidden;
    }
}

*:focus {
	outline: none;
}

#app {
	min-height: 100vh;
}

.pointer-events-none {
	pointer-events: none;
}

/*
* Colors for Fonts and Backgrounds
* clr : uses for text colors
*/
$orange: #E0AF3C;
$green: #657008;
$navy-blue: #2C4043;
$maroon: #A74424;
$gray: #2d2d2d;
$light-gray: #BFBFBF;
$black: #000000;
$white: #FFFFFF;

.clr--orange { color: $orange; }
.clr--green { color: $green; }
.clr--navy-blue { color: $navy-blue; }
.clr--maroon { color: $maroon; }
.clr--gray { color: $gray; }
.clr--light-gray { color: $light-gray; }
.clr--black { color: $black; }
.clr--white { color: $white; }

/*
* Typography
* frm : frame
*/
$font-family-d-din-regular: 'D-Din-Regular';
$font-family-d-din-bold: 'D-Din-Bold';
$font-family-work-sans-regular: 'WorkSans-Regular';
$font-family-work-sans-bold: 'WorkSans-Bold';

.frm-title {
	font-size: 3.6em;
	line-height: 1em;
	font-family: $font-family-d-din-bold;

	&.small {
		font-size: 2.6em;
	}

	&.x-small {
		font-size: 1.6em;	
	}
}

.frm-header {
	font-family: $font-family-d-din-regular;
	font-size: 1.2em;
	line-height: 1.5em;

	&.bold {
		font-family: $font-family-d-din-bold;	
	}
}

.frm-description {

	* {
		font-family: $font-family-work-sans-regular;
		font-size: 15px;
		line-height: 1.5em;
	}

	strong {
		font-family: $font-family-work-sans-bold;
	}
}

.frm-lbl__smll {
	font-family: $font-family-work-sans-regular;
	font-size: 12px;
	line-height: 1.5em;
	
	strong, b {
		font-family: $font-family-work-sans-bold;	
	}
}

p,a {
	font-family: $font-family-work-sans-regular;
	line-height: 1.5em;
	font-size: 15px;
}

/*
* Frame Container
* frm-cntnr : frame contianer
*/
.frm-cntnr {
    position: relative;
    margin: auto;
    height: 100%;
    max-width: 1400px;
    box-sizing: border-box;

    &.align-r {
        margin: 0;
        margin-left: auto;
    }

    &.align-l {
        margin: 0;
        margin-right: auto;
    }
}

/** 
 * Frame Background
 * frm-bckgrnd : frame background
 */
$frame-bg--pos__t: top center;
$frame-bg--pos__c: center center;
$frame-bg--pos__b: bottom center;

.frm-bckgrnd {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: $frame-bg--pos__c;

    &.bring-front {
        z-index: -1;
    }
    &.bring-back {
        z-index: -2;
    }
    &.size-cover {
        background-size: cover;
    }
    &.size-contain{
        background-size: contain;
    }
    &.align-r {
        right: 0;
    }
    &.align-l {
        left: 0;
    }
    &.align-c {
        left: 50%;
        transform: translateX(-50%);
    }
    &.align-t {
    	background-position: $frame-bg--pos__t;
    }
}

/** 
 * Button
 * frm-btn : frame button
 */
.frm-btn {
	text-align: center;
    display: inline-block;
    min-width: 200px;
    padding: 15px 15px;
    border-radius: 5px;
    font-size: 1.2em;
    line-height: 1em;
    font-family: $font-family-d-din-regular;
    border: none;
    text-decoration: none !important;
    transition: all 300ms ease;
    font-weight: bold;

    &.green {
    	background: $green;
    	color: $white;

    	&:hover {
    		background: #474E09;
    	}
    }

    &.orange {
    	background: $orange;
    	color: $white;

    	&:hover {
    		background: #B58B2A;
    	}
    }

    &.disabled {
    	cursor: auto;
    	background: $light-gray;
    	color: #888888;
    }

    &.gray {
    	background: #777777;
    	color: $white;
    	
    	&:hover {
    		background: #4a4a4a;
    	}
    }

    &.facebook {
    	background: #44609d;
    	color: $white;

    	&:hover {
    		background: #2b406d;
    	}
    }

    &.google {
    	background: #ea4335;
    	color: $white;

    	&:hover {
    		background: #bb382d;
    	}
    }
}

/** 
 * Input, Textarea, Select
 * frm-inpt : frame input
 */
 .frm-inpt {
    position: relative;

 	input,select,textarea {
		font-size: 1.2em;
		line-height: 1.5em;
		padding: 10px;
		height: 50px;
		min-height: 50px;
	    min-width: 280px;	
		border: none;
		color: $black;
		background: $white;
	    box-sizing: border-box;	
	    border-radius: 5px;
	    box-shadow: 0px 0px 0px 1px #B3B3B3;	
	    font-family: $font-family-d-din-regular;

	    &:focus {
		    outline: none;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		    border-color: #80bdff;
		    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    	}

    	&::placeholder {
    		color: $black;
    	}
 	}
 }

/*
* Header Frame
* hdr-frm : header frame
*/
.hdr-frm {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 999;
	transition: all 300ms ease;

	.hdr-frm__nav-col {
		width: 14.2%;
	    padding: 15px 0px;	

		.hdr-frm__nav-link {
			position: relative;
			text-transform: uppercase;
			text-decoration: none;
			color: $white;
			cursor: pointer;
			font-size: 15px;
			transition: all 300ms ease;
			text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.65);

			&:after {
				content: "";
				position: absolute;
				left: 0px;
				right: 0px;
				bottom: -7px;
				width: 100%;
				height: 4px;
				opacity: 0;
				border-radius: 5px;
				background: $green;
				transition: all 300ms ease;
			}

			&:hover,
			&.active {
				color: $orange;
				text-shadow: none;

				&:after {
					opacity: 1;
				}
			}

		}

		.hdr-frm__nav-link-img {
			max-width: 18px;
			margin-right: 5px;
			filter: brightness(0) invert(1);
		}

		.hdr-frm__nav-logo {
			width: auto;
			height: 60px;
			transition: all 300ms ease;
		}

		.frm-btn {
			min-width: 100%;
		}
	}

	&.scroll {
	    background: $white;
	    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.08);

	    .hdr-frm__nav-logo {
	    	height: 45px;
	    }

	    .hdr-frm__nav-link-img {
	        filter: brightness(1) invert(0);	
	    }

	    .hdr-frm__nav-link {
	    	color: $gray;
	    	text-shadow: none;
	    }
	}

	&.active {
	    background: $white !important;
	    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.08);

	    .hdr-frm__nav-link {
	    	color: $gray !important;
	    	text-shadow: none !important;

	    	&.active {
	    		color: $green !important;	
	    	}
	    }		

	    .hdr-frm__nav-link-img {
	    	filter: brightness(1) invert(0);
	    }
	}
}

/*
* Footer Frame
* ftr-frm : footer frame
*/
.ftr-frm {
	position: relative;
	width: 100%;
	padding: 30px 0px;
	background: $orange;

	p {
		margin-bottom: 0px !important;
	}

	.frm-cntnr__nav-logo {
		width: auto;
		height: 60px;
		filter: brightness(0) invert(1);
	}

	.frm-cntnr__nav-link {
		text-transform: uppercase;
		color: $white;
		font-size: 15px;
		text-decoration: none;
		transition: all 300ms ease;

		&.bold {
			font-family: $font-family-work-sans-bold;
		}

		&:hover {
			color: $green
		}
	}

	.ftr-frm_img {
		transition: all 300ms ease-in;
		opacity: 1;
		cursor: pointer;

		&:hover {
			opacity: 0.5;
		}

		img {
			max-width: 18px;
			margin: 5px;
		}
		&.big {
			img {
				max-width: 22px;	
			}
		}
	}

}

/*
* General Slider
* gnrl-frm--sldr : general frame slider
*/
.gnrl-frm--sldr__container {

	.gnrl-frm--sldr {
		margin-bottom: 0px;

		.slick-next, .slick-prev {
		    position: absolute;	
		    z-index: 2;

		    &:before {
		    	display: none;
		    }
		}

		.slick-next {
  			top: 0px;
		    bottom: 0px;
		    right: 5%;
		    margin: auto;

			img {
			    position: absolute;
			    right: -5px;
			    top: 0px;
			    bottom: 0px;
			    margin: auto;
				width: auto;
				height: 40px;
				transition: all 300ms ease;

				&:hover {
				    opacity: 0.5;	
				}
			}
		}

		.slick-prev {
  			top: 0px;
		    bottom: 0px;
		    left: 5%;
		    margin: auto;

			img {
			    position: absolute;
			    left: -5px;
			    top: 0px;
			    bottom: 0px;
			    margin: auto;
				width: auto;
				height: 40px;
				transition: all 300ms ease;

				&:hover {
				    opacity: 0.5;	
				}
			}
		}

	    .slick-dots {
	        bottom: 20%;
	        z-index: 2;
	    }

	    & li {
	        margin: 2px 4px;    
	    }

	    & li:before {
	        visibility: hidden; 
	    }

	    & li.slick-active button:before {
	        color: $green;
	        background: $green;
	        opacity: 1;
	    }

	    & li button:before {
	        position: absolute;
	        top: 3px;
	        left: 2px;
	        content: "•";
	        width: 10px;
	        height: 10px;
	        font-family: "slick";
	        font-size: 0px;
	        line-height: 20px;
	        text-align: center;
	        color: transparent;
	        background: $white;
	        border-radius: 50%;
	        opacity: 1;
	        -webkit-font-smoothing: antialiased;
	    }

	    & li:only-child {
	        display: none;
	    }

	}

	.gnrl-frm--sldr__item {
		position: relative;
		width: 100%;
		height: 100vh;

		.frm-title {
		    max-width: 500px;
		    margin: auto;
		    margin-bottom: 40px;
		    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.60);	
		}

		.frm-header {
			text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.60);
		}

	}

}

/*
* General Remodal
* gnrl-rmdl : general remodal
*/
#gnrl-rmdl {

	.gnrl-rmdl__img-icon {
		max-width: 75px;
		margin: auto;
		margin-bottom: 20px;
	}

	.frm-description {
		height: 300px;
		padding-right: 10px;
		overflow-y: auto;

		&.no-height {
			height: auto;
			padding-right: 0px;
		}

		&.custom-description {
			height: 400px;
		    margin-top: 14%;	
			padding-left: 5%;
		}

	  //   ul {
	  //   	font-size: 1em;
	  //       width: 100%;
	  //       padding-left: 15px;
	  //   } 

	  //   ol {
	  //   	font-size: 1em;
	  //       width: 100%;
	  //       padding-left: 15px;

	  //       strong {
	  //       	font-size: 1em;
	  //       }
	  //   }

	  //   li {
	  //       display: list-item;
	  //       padding-bottom: 5px;
	  //       list-style-position: inside;
	  //   }

	  //   p {
	  //   	a { font-size: 0.9em; }
			// p {	font-size: 1em; }
	  //   }

	  //   a {
   //  		color: $green;
   //  		text-decoration: underline;
	  //   }

	  //   ul li {
	  //   	li { font-size: 1em; }
	  //   }

	  //   ul li {
	  //   	strong { font-size: 1em; }
	  //   }

	  //   b {
	  //   	font-family: $font-family-work-sans-bold;
	  //   	font-size: 1em;
	  //   }

	  //   p {
	  //   	strong {
		 //    	font-family: $font-family-work-sans-bold;
		 //    	font-size: 1em;

		 //    	u {
			//     	font-family: $font-family-work-sans-bold;
			//     	font-size: 1em;
		 //    	}
	  //   	}
	  //   }

	}

	.gnrl-rmdl__close-btn {
		position: absolute;
		top: 8%;
		right: 5%;
		border: none;
		padding: 0px;
		z-index: 2;
		background: transparent;

		.gnrl-rmdl__close-btn-img {
			width: auto;
			height: 40px;
			padding: 10px;
			cursor: pointer;
			transition: all 300ms ease;

			&:hover {
				opacity: 0.5;
			}
		}
	}

	.gnrl-rmdl__btn-holder {
		height: 400px;
		padding-right: 10px;
		overflow-y: auto;
		border-right: 1px solid $light-gray;

		.gnrl-rmdl__btn {
			font-family: $font-family-d-din-bold;
			font-size: 1.2em;
			margin-bottom: 20px;
			line-height: 1.5em;
			color: $light-gray;
			cursor: pointer;
			transition: all 300ms ease;

			&:hover {
				color: $gray;
			}

			&.active {
				color: $green
			}
		}
	}
}
.remodal {

	&.custom-width {
		max-width: 1000px !important;
	}

	&.custom-width__small {
		max-width: 350px !important;
		border-radius: 10px;
		padding: 30px 0px;
	}

}

/*
* General Scroll
* gnrl-scrll : general scroll
*/
.gnrl-scrll {
    &::-webkit-scrollbar {
        width: 8px;
        height: 0px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
        border-radius: 5px;
        overflow: hidden;
    }

    /* Handle */
	&::-webkit-scrollbar-thumb {
        background: $orange;
    }

}

.error-show {
	color: #f12727;
}

/*
* Loading Screen
* ldng-scrn : loading screen
*/
.ldng-scrn {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	overflow: hidden;
	width: 100%;
	z-index: 99999;
	background: $white;

	.loader,
	.loader:after {
		border-radius: 50%;
		width: 10em;
		height: 10em;
	}
	.loader {
		position: absolute;
		left: 0px;
		right: 0px;
		top: 41vh;
		margin: auto;
		font-size: 6px;
		text-indent: -9999em;
		border-top: 1.1em solid $orange;
		border-right:1.1em solid $green;
		border-bottom: 1.1em solid $green;
		border-left: 1.1em solid $green;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-animation: load8 1.1s infinite linear;
		animation: load8 1.1s infinite linear;
	}
	@-webkit-keyframes load8 {
		0% {
	    	-webkit-transform: rotate(0deg);
	    	transform: rotate(0deg);
	  	}
	  	100% {
	    	-webkit-transform: rotate(360deg);
	    	transform: rotate(360deg);
	 	}
	}
	@keyframes load8 {
		0% {
	    	-webkit-transform: rotate(0deg);
	    	transform: rotate(0deg);
	  	}
	  	100% {
	    	-webkit-transform: rotate(360deg);
	    	transform: rotate(360deg);
	  	}
	}

	.ldng-scrn__text {
		position: absolute;
		text-align: center;
		top: 52vh;
		left: 0px;
		right: 0px;
		margin: auto;

		.frm-header {
			font-weight: bold;
			color: $orange;
		}
	}

}