/*
* Privacy Frame
* prvcy-plcy-frm : privacy policy frame
*/
.prvcy-plcy-frm {
	margin-top: 40px;
    padding-top: 15vh;
    padding-bottom: 10vh;


    .frm-description {
    	text-align: initial;

    	// * {
    	// 	color: $gray;
    	// }

    	strong, b, p {
    		font-size: 1em;
    		color: $gray;
    	}

        a {
            color: blue;
        }
    }
}